<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 쿼리 앞에 공통으로 붙는 풀네임 (그냥 정해서 쓰는것) -->
  <!-- com.kh.sample01.member.getTime -->
<mapper namespace="com.dp.ggomjirak.main">

	
	<!-- 추천 취미 리스트 -->
	<select id="getSuggestHobby" resultType="HobbyVo">
		select * from
			(select rownum rnum, a.*, c.user_nick from
				(select * from tbl_hobby where user_id != #{user_id}
				and user_id not in(select user_id from tbl_manager_member)
				order by like_cnt desc)a
			left join tbl_memberdetail c on a.user_id = c.user_id
			where (select cate_no1 from tbl_memberdetail where user_id = #{user_id}) = a.m_cate_no
			or (select cate_no2 from tbl_memberdetail where user_id = #{user_id}) = a.m_cate_no
			or (select cate_no3 from tbl_memberdetail where user_id = #{user_id}) = a.m_cate_no)
		where rnum between 1 and 10
	</select>
	
	<!-- 인기취미 리스트 -->
	<select id="getPopularHobbyList" resultType="HobbyVo">
		select c.user_nick, b.* from
		    (select rownum rnum, a.* from
		        (select * from tbl_hobby
		        where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)
		        order by view_cnt desc, like_cnt desc) a) b
		        left join tbl_memberdetail c on b.user_id = c.user_id
		where rnum between 1 and 10
	</select>
	
	<!-- 이달의 취미 리스트 -->
	<select id="getMonthHobbyList" resultType="HobbyVo">
		select c.user_nick, b.* from
		    (select rownum rnum, a.* from
		        (select * from tbl_hobby
		        where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)
		        and to_char(reg_date, 'mm') = to_char(sysdate, 'mm')
		        order by view_cnt desc, like_cnt desc) a) b
		        left join tbl_memberdetail c on b.user_id = c.user_id
		where rnum between 1 and 10
	</select>
	
	<!-- 인기작가 -->
	<select id="getPopularMemberList1" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_id, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 1
                 and a.user_id not in(select user_id from tbl_manager_member)
		         order by follower_cnt desc)
		where rnum between 1 and 12
	</select>
	<select id="getPopularMemberList2" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_id, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 2
                 and a.user_id not in(select user_id from tbl_manager_member)
		         order by follower_cnt desc)
		where rnum between 1 and 12
	</select>
	<select id="getPopularMemberList3" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_id, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 3
                 and a.user_id not in(select user_id from tbl_manager_member)
		         order by follower_cnt desc)
		where rnum between 1 and 12
	</select>
	<select id="getPopularMemberList4" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_id, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 4
                 and a.user_id not in(select user_id from tbl_manager_member)
		         order by follower_cnt desc)
		where rnum between 1 and 12
	</select>
	
	<!-- 등급 표시 -->
	<select id="selectUserGrade" resultType="String">
		select name from tbl_membergrade
		where cd = #{user_grade}
	</select>

	
	<!-- 카테고리 셀렉트 -->
	<select id="selectCate" resultType="CateVo">
		select * from tbl_hobby_cate
	</select>
	<!-- 카테고리 메뉴 -->
	<select id="cateBigSort" resultType="CateVo">
		select * from tbl_hobby_cate
		where cate_level = 1
		order by cate_no
	</select>
	<select id="cateSmallSort" resultType="CateVo">
		select * from tbl_hobby_cate
		where cate_level = 2
		order by cate_no
	</select>
	
	<!-- 취미 리스트 (인기순) -->
	<select id="hobbyListPopular" resultType="HobbyVo">
		select c.user_nick, b.* from
		    (select rownum rnum, a.* from
		        (select * from tbl_hobby
		        where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)
		        order by view_cnt desc, like_cnt desc) a) b
		        left join tbl_memberdetail c on b.user_id = c.user_id
		where rnum between #{startRow} and #{endRow}
	</select>
	<!-- 취미 갯수 -->
	<select id="getCountHobbyList" resultType="int">
		select count (*) from tbl_hobby
		where is_del = 'N'
		and user_id not in(select user_id from tbl_manager_member)
	</select>
	
	<!-- 취미 카테고리 검색 -->
	<select id="searchHobbyCate" resultType="HobbyVo">
		select * from
		(select rownum rnum, a.*, c.user_nick from
		        (select * from tbl_hobby where user_id in 
		        (select user_id from tbl_memberinfo where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)))a
		        left join tbl_memberdetail c on a.user_id = c.user_id
		        <if test="m_cate_no != 0">
		         where m_cate_no = #{m_cate_no}
		        </if>
		         order by hobby_no desc)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 취미 카테고리 검색 수 -->
	<select id="getCountHobbyCate" resultType="int">
		select count (*) from
			(select * from tbl_hobby where user_id in 
		        (select user_id from tbl_memberinfo where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)))a
                left join tbl_memberdetail c on a.user_id = c.user_id
                <if test="m_cate_no != 0">
                where m_cate_no = #{m_cate_no}
                </if>
	</select>
	
	<!-- 검색(취미) -->
	<select id="searchHobby" resultType="HobbyVo">
		select * from
		(select rownum rnum, a.*, c.user_nick from
		        (select * from tbl_hobby where user_id in 
		        (select user_id from tbl_memberinfo where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)))a
		        left join tbl_memberdetail c on a.user_id = c.user_id
		         where hobby_title like '%' || #{keyword} || '%'
		         or user_nick like '%' || #{keyword} || '%'
		         order by hobby_no desc)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 검색 취미 갯수 -->
	<select id="getCountHobbySearch" resultType="int">
		select count (*) from
			(select * from tbl_hobby where user_id in 
		        (select user_id from tbl_memberinfo where is_del = 'N'
		        and user_id not in(select user_id from tbl_manager_member)))a
                left join tbl_memberdetail c on a.user_id = c.user_id
                where hobby_title like '%' || #{keyword} || '%'
		         or user_nick like '%' || #{keyword} || '%'
	</select>
	
	<!-- 검색(작가) -->
	<select id="searchMember" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in 
		        	(select user_id from tbl_memberinfo where is_del = 'N')) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where user_nick like '%' || #{keyword} || '%'
		         and a.user_id not in(select user_id from tbl_manager_member)
		         order by follower_cnt desc)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 검색 작가 갯수 -->
	<select id="getCountMemberSearch" resultType="int">
		select count (*) from 
			(select * from tbl_memberdetail where user_id in 
		        (select user_id from tbl_memberinfo where is_del = 'N')) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where user_nick like '%' || #{keyword} || '%'
		         and a.user_id not in(select user_id from tbl_manager_member)
	</select>
	
	


</mapper>