<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 쿼리 앞에 공통으로 붙는 풀네임 (그냥 정해서 쓰는것) -->
  <!-- com.kh.sample01.member.getTime -->
<mapper namespace="com.dp.ggomjirak.main">

	<!-- 인기취미 리스트 -->
	<select id="getPopularHobbyList" resultType="HobbyVo">
		select * from tbl_hobby
		where is_del = 'N'
		order by view_cnt desc, like_cnt desc
	</select>
	
	<!-- 이달의 취미 리스트 -->
	<select id="getMonthHobbyList" resultType="HobbyVo">
		select * from tbl_hobby
		where is_del = 'N'
		and to_char(reg_date, 'mm') = to_char(sysdate, 'mm')
		order by view_cnt desc, like_cnt desc
	</select>


</mapper>