<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 쿼리 앞에 공통으로 붙는 풀네임 (그냥 정해서 쓰는것) -->
  <!-- com.kh.sample01.member.getTime -->
<mapper namespace="com.dp.ggomjirak.main">

	<!-- 인기취미 리스트 -->
	<select id="getPopularHobbyList" resultType="HobbyVo">
		select c.user_nick, b.* from
		    (select rownum rnum, a.* from
		        (select * from tbl_hobby
		        where is_del = 'N'
		        order by view_cnt desc, like_cnt desc) a) b
		        left join tbl_memberdetail c on b.hobby_writer = c.user_id
		where rnum between 1 and 10
	</select>
	
	<!-- 이달의 취미 리스트 -->
	<select id="getMonthHobbyList" resultType="HobbyVo">
		select c.user_nick, b.* from
		    (select rownum rnum, a.* from
		        (select * from tbl_hobby
		        where is_del = 'N'
		        and to_char(reg_date, 'mm') = to_char(sysdate, 'mm')
		        order by view_cnt desc, like_cnt desc) a) b
		        left join tbl_memberdetail c on b.hobby_writer = c.user_id
		where rnum between 1 and 10
	</select>
	
	<!-- 인기작가 -->
	<select id="getPopularMemberList1" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 1
		         order by follower_cnt desc)
		where rnum between 1 and 10
	</select>
	<select id="getPopularMemberList2" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 2
		         order by follower_cnt desc)
		where rnum between 1 and 10
	</select>
	<select id="getPopularMemberList3" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 3
		         order by follower_cnt desc)
		where rnum between 1 and 10
	</select>
	<select id="getPopularMemberList4" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in (select user_id from tbl_memberinfo where is_del = 'N') 
		         order by follower_cnt desc) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where a.user_grade = 4
		         order by follower_cnt desc)
		where rnum between 1 and 10
	</select>
	
	<!-- 등급 표시 -->
	<select id="selectUserGrade" resultType="String">
		select name from tbl_membergrade
		where cd = #{user_grade}
	</select>
	
	<!-- 카테고리 -->
	<select id="selectCate" resultType="CateVo">
		select * from tbl_hobby_cate
   			start with parent_cate_no is null connect by prior cate_no = parent_cate_no
	</select>
	
	<!-- 검색(취미) -->
	<select id="searchHobby" resultType="HobbyVo">
		select * from
		(select rownum rnum, a.*, c.user_nick from
		        (select * from tbl_hobby where hobby_writer in 
		        (select user_id from tbl_memberinfo where is_del = 'N'))a
		        left join tbl_memberdetail c on a.hobby_writer = c.user_id
		         where hobby_title like '%' || #{keyword} || '%'
		         order by hobby_no desc)
		where rnum between 1 and 10
	</select>
	
	<!-- 검색(작가) -->
	<select id="searchMember" resultType="MemberVo">
		select * from
		(select rownum rnum, a.user_nick, a.user_grade, c.name from
		        (select * from tbl_memberdetail where user_id in 
		        	(select user_id from tbl_memberinfo where is_del = 'N')) a 
		         left join tbl_membergrade c on a.user_grade = c.cd
		         where user_nick like '%' || #{keyword} || '%'
		         order by follower_cnt desc)
		where rnum between 1 and 10
	</select>
	


</mapper>