<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.dp.ggomjirak.manager">

	
	<!-- 회원 정보 목록 (전체) -->
	<select id="showMemberListAll" resultType="MemberVo">
		selecselect a.*, b.*
		from tbl_memberinfo a, tbl_memberdetail b
		where a.user_id = b.user_id
		and a.user_id not in(select user_id from tbl_manager_member)user_id != c.user_id
	</select>
	
	<!-- 회원 정보 목록 (활동중) -->
	<select id="showMemberList" resultType="MemberVo">
		select a.*, b.*
		from tbl_memberinfo a, tbl_memberdetail b
		where a.is_del = 'N'
		and a.user_id = b.user_id
		and a.user_id not in(select user_id from tbl_manager_member)
	</select>
	
	<!-- 회원 정보 목록 (탈퇴) -->
	<select id="showMemberListLeave" resultType="MemberVo">
		select a.*, b.*
		from tbl_memberinfo a, tbl_memberdetail b
		where a.is_del = 'Y'
		and a.user_id = b.user_id
		and a.user_id not in(select user_id from tbl_manager_member)
	</select>
	
	<!-- 회원 정보 조회 -->
	<select id="selectMemberById" resultType="MemberVo">
		select a.*, b.*
		from tbl_memberinfo a
		    left join tbl_memberdetail b on a.user_id = b.user_id
		where a.user_id = #{user_id}
		
	</select>
	
	<!-- 회원 취미 정보 조회(텍스트) -->
	<select id="selectCateStr" resultType="CateStrVo">
		select w.user_id, b.cate_name as "cate_no1", c.cate_name as "cate_no2", d.cate_name as "cate_no3"
		from tbl_memberdetail w
		    left join tbl_hobby_cate b on w.cate_no1 = b.cate_no
		    left join tbl_hobby_cate c on w.cate_no2 = c.cate_no
		    left join tbl_hobby_cate d on w.cate_no3 = d.cate_no
		where w.user_id = #{user_id}
	</select>
	
	<!-- 회원 취미 카테고리 리스트 -->
	<select id="showCateList">
		
	</select>
	
	<!-- 회원 등급정보 조회 -->
	<select id="selectGradeById" resultType="String">
		select b.name
		from tbl_memberdetail a
		    left join tbl_membergrade b on a.user_grade = b.cd
		where a.user_id = #{user_id}
	</select>
	
	<!-- 회원 활동정보 조회 -->
	<select id="selectMemberActivById" resultType="MemberActivVo">
		select * from tbl_member_activ
		where user_id = #{user_id}
	</select>
	
	<!-- 회원 소개글 조회 -->
	<select id="selectMemberIntroById" resultType="String">
		select wr_intro from tbl_workroom
		where user_id = #{user_id}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMemberInfo">
		update tbl_memberinfo set
			user_pw = #{user_pw},
			user_name = #{user_name},
			user_email = #{user_email, jdbcType=VARCHAR},
			user_tel = #{user_tel, jdbcType=VARCHAR}
		where user_id = #{user_id}
	</update>
	<update id="updateMemberDetail">
		update tbl_memberdetail set
			user_nick = #{user_nick, jdbcType=VARCHAR},
			cate_no1 = #{cate_no1, jdbcType=NUMERIC},
			cate_no2 = #{cate_no2, jdbcType=NUMERIC},
			cate_no3 = #{cate_no3, jdbcType=NUMERIC},
			cate_etc = #{cate_etc, jdbcType=VARCHAR},
			user_grade = #{user_grade}
		where user_id = #{user_id}
	</update>
	
	
	
	<!-- 관리자 회원 리스트 -->
	<select id="showManagerList" resultType="ManagerVo">
		select * from tbl_manager_member
	</select>
	
	
	<!-- 이벤트 글 목록 (전체) -->
	<select id="showEventListAll" resultType="EventVo">
		select * from tbl_event
		where is_del = 'N'
		order by e_no desc
	</select>

	<!-- 이벤트 글 목록 (진행중) -->
	<select id="showEventList" resultType="EventVo">
		select * from tbl_event
		where end_date > sysdate
		and is_del = 'N'
		order by e_no desc
	</select>
	
	<!-- 이벤트 글 목록 (종료) -->
	<select id="showEventListEnd" resultType="EventVo">
		select * from tbl_event
		where sysdate > end_date
		and is_del = 'N'
		order by e_no desc
	</select>
	
	<!-- 이벤트 글 목록 (삭제) -->
	<select id="showEventListDelete" resultType="EventVo">
		select * from tbl_event
		where is_del = 'Y'
		order by e_no desc
	</select>
	
	<!-- 이벤트 컨텐츠 들어가기 -->
	<select id="selectByEno" resultType="EventVo">
		select * from tbl_event
		where e_no = #{e_no}
	</select>

	<!-- 이벤트글 작성 -->
	<insert id="insertEvent">
		insert into tbl_event
		values(seq_e_no.nextval, #{m_no}, #{e_title}, #{e_content, jdbcType=VARCHAR}, 
			#{e_img, jdbcType=VARCHAR}, sysdate, #{mod_date, jdbcType=TIMESTAMP}, 'N', 
			#{start_date, jdbcType=DATE}, #{end_date, jdbcType=DATE})
	</insert>
	
	<!-- 이벤트 글 수정 -->
	<update id="updateEvent">
		update tbl_event set
			e_title = #{e_title},
			e_content = #{e_content, jdbcType=VARCHAR},
			e_img = #{e_img, jdbcType=VARCHAR},
			mod_date = sysdate,
			start_date = #{start_date, jdbcType=DATE},
			end_date = #{end_date, jdbcType=DATE}
		where e_no = #{e_no}	
	</update>
	
	<!-- 이벤트 글 삭제 -->
	<update id="deleteEvent">
		update tbl_event set
			is_del = 'Y'
		where e_no = #{e_no}	
	</update>
	


</mapper>