<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dp.ggomjirak.storyComment">
		
	<!-- 댓글작성 -->
	<insert id="insertComment">
		insert into tbl_story_comment(st_c_no, user_id, st_no, st_c_content, st_c_parent_no, st_c_order)
		values (seq_story_c_no.nextval, #{user_id}, #{st_no}, #{st_c_content}, seq_story_c_no.nextval, seq_story_c_no.nextval)
	</insert>
	
	<!-- 댓글목록 -->
	<select id="listComment" resultType="StoryCommentVo">
		select * from tbl_story_comment
		where st_no = #{st_no}
		order by st_c_no desc
	</select>
	
	
		
</mapper>







